* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

#app {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
}

#app .cell {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;
}

#app .cell[data-color="1"] {
  background-image: url('../assets/green-gem.png');
}

#app .cell[data-color="2"] {
  background-image: url('../assets/red-gem.png');
}

#app .cell[data-color="3"] {
  background-image: url('../assets/white-gem.png');
}

#toolbar {
  position: absolute;
  top: 5px;
  left: 5px;
}

#toolbar button {
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 10px;
  padding: .5rem 1rem;
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

#toolbar button:focus {
  outline:0;
}