#nav-drawer-btn {
  position: absolute;
  z-index: 1001;
  padding: 10px;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
}

#nav-drawer-btn .fa-times {
  display: none;
}

#nav-drawer-btn.show .fa-times {
  display: inline;
}

#nav-drawer-btn.show .fa-bars {
  display: none;
}

#nav-drawer-menu {
  background: rgba(255, 255, 255, .5);
  width: 0%;
  max-width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: .7s;
  overflow-x: hidden;
  z-index: 1000;
  padding-top: 43px;
}

#nav-drawer-menu.show {
    width: 60%;
}

#nav-drawer-menu hr {
  height: 1px;
  background: #ffffff;
  border-width: 0;
}

#nav-drawer-menu div {
  padding: 10px;
  font-size: 1.3rem;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

#nav-drawer-menu div.selected {
  background: rgba(255, 255, 255, .3);
}

#nav-drawer-menu div i.fas {
  margin-right: .4rem;
}
